.companyIcon {
  height: 24px;
}

.formContainer {
  border: solid 1px;
  width: 1200px;
}

.formContainer h2{
  font-size: 32px;
  margin: 50px 0 50px 50px;
  
}

.formContainer hr {
  max-width: calc(100vw - 250px);
  margin-bottom: 50px;
}

.bottomLine {
  margin-top: 100px;
}

.formContainer label{
  font-size: 24px;
  margin-left: 10px;
  padding-bottom: 20px;
}

.formContainer input{
  height: 50px;
  width: 600px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.labelInput {
  margin-left: 80px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.submitBtn {
  font-size: 24px;
  background-color: #7c639f;
  color: #fff;
  height: 50px;
  width: 175px;
  border-radius: 10px;
  margin: 0 50px 50px 70px;
  border: none;
  cursor: pointer;
}

.cancelBtn {
  font-size: 24px;
  background-color: #fff;
  height: 50px;
  width: 175px;
  cursor: pointer;
  border: none;
}

/*
.formContainer { 
  background-color: #fff;
  margin: 10% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 100%; 
}
*/