.navbar h2 {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  font-weight: normal;
}

.devGithubInfo h3 {
  font-size: 48px;
  font-weight: normal;
}

.devGithubInfo hr {
  max-width: calc(100vw - 60px);
}

.navbar {
  background-color: #3f3d56;
  height: 80px;
  display: flex;
}

.headerOne {
  margin-left: 30px;
  margin-right: 910px;
}

.bigAvatar {
  height: 400px;
  width: 400px;
}

.devGithubInfo {
  display: flex;
  background-color: #cdcfd1;
}

.repoList {
  font-size: 56px;
  text-align: center;
}
