.navbar h2 {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  font-weight: normal;
}

.navbar {
  background-color: #3f3d56;
  height: 80px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.companyIcon0 {
  height: 24px;
}

.companyIcon1 {
  font-size: 16px;
  margin-left: 20px;
  margin-right: 20px;
}

.companyIcon2 {
  font-size: 16px;
  margin-right: 20px;
}

.companyIcon3 {
    height: 24px;
    margin-left: 25px;
}

.repoContent {
  margin-left: 100px;
  margin-right: 100px;
}

.repoContent hr {
  margin-bottom: 30px;
  margin-top: 30px;
}

.repoName {
  font-size: 36px;
  color: #388bfd;
}

.repoDescription {
  font-size: 32px;
}

.updatedOn {
  color: #9F8E63;
  margin-left: 20px;
}

.devIcons {
  margin-bottom: 30px;
}

.gitAddInfo {
  display: flex;
}

.devGithubInfo h3 {
  font-size: 48px;
  font-weight: normal;
  margin-top: 100px;
}

.devGithubInfo h5 {
  font-size: 24px;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 30px;
}

.devGithubInfo hr {
  max-width: calc(100vw - 60px);
}


.bigAvatar {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.devGithubInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-content: center;
  background-color: #cdcfd1;
  column-gap: 0;
}

.repoList {
  font-size: 56px;
  text-align: center;
  font-weight: normal;
}

@media screen and (max-width: 1025px) {
  .devGithubInfo {
    grid-template-columns: 1fr;
    min-height: 1000px;
    max-height: 1000px;
  }
  .bigAvatar {
    margin-bottom: 0;
  }
}
