.homeContainer h5{
  font-size: 56px;
  color: #3f3d56;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: normal;
}

.eachDevSpan {
  display: flex;
  width: 400px;
  align-items: center;
  
}


.devId {
  font-size: 36px;
  color: #9F8E63;
  margin-right: 20px;
  margin-left: 50px;
  
}

.homePageDevs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  row-gap: 100px;
}

.homeContainer h3{
  font-size: 36px;
  color: #3f3d56;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: normal;
}

.homeContainer hr {
  max-width: calc(100vw - 100px);
}

.idIcon {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  
  
}

/* .homeContainer {
    
  z-index: 1; 
   
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
} */

@media screen and (max-width: 411px) {
  .homeContainer h5 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  }

  .devId{
    font-size: 12px;
    margin-bottom: 18px;
  }

  .idIcon {
    height: 20px;
    width: 20px;   
  }
  
}
