.searchBar {
  background-color: #d0cde1;
  height: 80px;
  width: 800px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
}

.searchInput {
  padding-left: 10px;
  width: 700px;
  height: 50px;
  border-radius: 10px;
  margin: 15px 20px 10px 10px;
  font-size: 24px;
  border: none;
}

.searchIcon {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.homePageDevs2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  row-gap: 100px;
}

.searchIcon :active {
    display:none;
  
}

.searchIconWrapper {
  padding-top: 15px;
}

@media screen and (max-width: 411px) {
  
  .searchIcon {
    height: 20px;
    width: 20px;
  }

  .searchBar {
    height: 55px;
    width: 320px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .searchInput {
    padding-left: 10px;
    height: 25px;
    width: 240px;
    font-size: 19px;
    
  }
}
